View/Service References/CAutor/CAutor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26759/CAutor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="Cadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="oAutor" nillable="true" type="q1:AUTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CadastrarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="oAutor" nillable="true" type="q2:AUTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlterarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Selecionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="SelecionarResult" nillable="true" type="q3:AUTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarNome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutorNome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="SelecionarNomeResult" nillable="true" type="q4:AUTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAutor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodosAutores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTodosAutoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ListaTodosAutoresResult" nillable="true" type="q5:ArrayOfAUTOR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>