View/Service References/CRelatorioReserva/CRelatorioReserva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRelatorioReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioReserva.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioReserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRelatorioReserva_GerarRelatorioID_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioID" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioReserva_GerarRelatorioID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioReserva_GerarRelatorioAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioAluno" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioReserva_GerarRelatorioAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioAlunoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRelatorioReserva">
    <wsdl:operation name="GerarRelatorioID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRelatorioReserva/GerarRelatorioID" message="tns:ICRelatorioReserva_GerarRelatorioID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRelatorioReserva/GerarRelatorioIDResponse" message="tns:ICRelatorioReserva_GerarRelatorioID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarRelatorioAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRelatorioReserva/GerarRelatorioAluno" message="tns:ICRelatorioReserva_GerarRelatorioAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRelatorioReserva/GerarRelatorioAlunoResponse" message="tns:ICRelatorioReserva_GerarRelatorioAluno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRelatorioReserva" type="tns:ICRelatorioReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarRelatorioID">
      <soap:operation soapAction="http://tempuri.org/ICRelatorioReserva/GerarRelatorioID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarRelatorioAluno">
      <soap:operation soapAction="http://tempuri.org/ICRelatorioReserva/GerarRelatorioAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRelatorioReserva">
    <wsdl:port name="BasicHttpBinding_ICRelatorioReserva" binding="tns:BasicHttpBinding_ICRelatorioReserva">
      <soap:address location="http://localhost:26759/CRelatorioReserva.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>