View/Service References/CEmprestimo/CEmprestimo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CEmprestimo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26759/CEmprestimo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26759/CEmprestimo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26759/CEmprestimo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICEmprestimo_Emprestar_InputMessage">
    <wsdl:part name="parameters" element="tns:Emprestar" />
  </wsdl:message>
  <wsdl:message name="ICEmprestimo_Emprestar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmprestarResponse" />
  </wsdl:message>
  <wsdl:message name="ICEmprestimo_listaTodosEmprestimosAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:listaTodosEmprestimosAluno" />
  </wsdl:message>
  <wsdl:message name="ICEmprestimo_listaTodosEmprestimosAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaTodosEmprestimosAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="ICEmprestimo_RenovarEmprestimo_InputMessage">
    <wsdl:part name="parameters" element="tns:RenovarEmprestimo" />
  </wsdl:message>
  <wsdl:message name="ICEmprestimo_RenovarEmprestimo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenovarEmprestimoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICEmprestimo">
    <wsdl:operation name="Emprestar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEmprestimo/Emprestar" message="tns:ICEmprestimo_Emprestar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEmprestimo/EmprestarResponse" message="tns:ICEmprestimo_Emprestar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaTodosEmprestimosAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEmprestimo/listaTodosEmprestimosAluno" message="tns:ICEmprestimo_listaTodosEmprestimosAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEmprestimo/listaTodosEmprestimosAlunoResponse" message="tns:ICEmprestimo_listaTodosEmprestimosAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenovarEmprestimo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEmprestimo/RenovarEmprestimo" message="tns:ICEmprestimo_RenovarEmprestimo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEmprestimo/RenovarEmprestimoResponse" message="tns:ICEmprestimo_RenovarEmprestimo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICEmprestimo" type="tns:ICEmprestimo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Emprestar">
      <soap:operation soapAction="http://tempuri.org/ICEmprestimo/Emprestar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaTodosEmprestimosAluno">
      <soap:operation soapAction="http://tempuri.org/ICEmprestimo/listaTodosEmprestimosAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenovarEmprestimo">
      <soap:operation soapAction="http://tempuri.org/ICEmprestimo/RenovarEmprestimo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CEmprestimo">
    <wsdl:port name="BasicHttpBinding_ICEmprestimo" binding="tns:BasicHttpBinding_ICEmprestimo">
      <soap:address location="http://localhost:26759/CEmprestimo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>