View/Service References/CRelatorioGenero/CRelatorioGenero2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26759/CRelatorioGenero.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GerarRelatorioID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarRelatorioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GerarRelatorioIDResult" nillable="true" type="q1:ArrayOfGENERO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarRelatorioDescricao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GerarRelatorioDescricaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GerarRelatorioDescricaoResult" nillable="true" type="q2:ArrayOfGENERO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>