View/Service References/CRelatorioAluno/CRelatorioAluno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRelatorioAluno" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioAluno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioAluno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26759/CRelatorioAluno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRelatorioAluno_GerarRelatorioID_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioID" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioAluno_GerarRelatorioID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioAluno_GerarRelatorioNome_InputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioNome" />
  </wsdl:message>
  <wsdl:message name="ICRelatorioAluno_GerarRelatorioNome_OutputMessage">
    <wsdl:part name="parameters" element="tns:GerarRelatorioNomeResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRelatorioAluno">
    <wsdl:operation name="GerarRelatorioID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRelatorioAluno/GerarRelatorioID" message="tns:ICRelatorioAluno_GerarRelatorioID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRelatorioAluno/GerarRelatorioIDResponse" message="tns:ICRelatorioAluno_GerarRelatorioID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GerarRelatorioNome">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRelatorioAluno/GerarRelatorioNome" message="tns:ICRelatorioAluno_GerarRelatorioNome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRelatorioAluno/GerarRelatorioNomeResponse" message="tns:ICRelatorioAluno_GerarRelatorioNome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRelatorioAluno" type="tns:ICRelatorioAluno">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarRelatorioID">
      <soap:operation soapAction="http://tempuri.org/ICRelatorioAluno/GerarRelatorioID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarRelatorioNome">
      <soap:operation soapAction="http://tempuri.org/ICRelatorioAluno/GerarRelatorioNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRelatorioAluno">
    <wsdl:port name="BasicHttpBinding_ICRelatorioAluno" binding="tns:BasicHttpBinding_ICRelatorioAluno">
      <soap:address location="http://localhost:26759/CRelatorioAluno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>