View/Service References/CReserva/CReserva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26759/CReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="Reservar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAluno" type="xs:int" />
        <xs:element minOccurs="0" name="idLivro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaTodasReservasAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAluno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaTodasReservasAlunoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="listaTodasReservasAlunoResult" nillable="true" type="q1:ArrayOfRESERVA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>